/* My Css */
.customer-list{
    display: flex;
    align-items: center;
}
.customer-list .customer-list-option{
    position: absolute;
    top: 1px;
    right: 5px;
}
.customer-list .customer-list-option a {
    color: rgba(0, 0, 0, 0.4);
}
.customer-list .customer-list-option a:hover, .customer-list .customer-list-option a:focus{
    color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 768px) { 
  .customer-list .customer-name{
      display: block;
      width: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

  }
}
@media (max-width: 768px) { 
  .large-screen{
      display: none;

  }
}